{% extends "polls/base.html" %}

{% block title %}Про нас - Каталог тварин{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center mb-4">Про нас</h1>
            <div class="card">
                <div class="card-body">
                    <p class="lead">Ласкаво просимо до Каталогу тварин!</p>
                    <p>Наш сайт створено для того, щоб надати вам повну інформацію про різноманітних тварин та їх категорії. 
                    Ми прагнемо зробити інформацію про тварин доступною та цікавою для всіх.</p>
                    
                    <h3 class="mt-4">Наша місія</h3>
                    <p>Наша місія полягає в тому, щоб:</p>
                    <ul>
                        <li>Надавати достовірну інформацію про тварин</li>
                        <li>Сприяти освіті та розумінню тваринного світу</li>
                        <li>Створити спільноту любителів тварин</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}